using SFramework;
using UnityEngine;

namespace Game
{
    public class {@0@}: SControl
    {
        protected override void opening()
        {
            Debug.Log("test control enter");
        }
    }
}